.loginCTA {
  text-align: center;
  margin-top: 2rem;
}

.formContainer {
  max-width: 550px;
  margin: auto;
}

.image {
  width: 100%;
  object-fit: cover;
  max-height: 18rem;
  object-position: 50% 75%;
}
