@import url("https://fonts.googleapis.com/css2?family=Niramit:wght@400;700&family=Roboto:wght@400;700&display=swap");

:root {
  --primary: #fafafa;
  --secondary: #f3a847;
  --tertiary: #b12704;
  --success: #26b559;
  --danger: #bf2320;
  --warning: #ffd239;
  --light: #fafafa;
  --dark: #121212;
  --container-size: 1350px;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Niramit", sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
