.cardOverview {
  max-width: 300px;
}

.cardOverview small {
  color: var(--sl-color-neutral-500);
}

.cardOverview [slot="footer"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
