.dynamicField {
  padding-top: 0.25rem;
  display: flex;
}

.dynamicField sl-input,
.dynamicField sl-textarea {
  flex-basis: 100%;
}

.dynamicField sl-icon-button::part(base):hover,
.leadingElement sl-icon-button::part(base):hover,
.dynamicField sl-icon-button::part(base):focus-visible,
.leadingElement sl-icon-button::part(base):focus-visible {
  color: var(--primary);
  outline-color: var(--primary);
  outline-offset: -5px;
}

.leadingElement {
  position: relative;
}

.leadingElement sl-icon-button {
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-20%);
}
