footer {
  background-color: hsl(240, 3%, 12%);
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  text-align: center;
  color: white;
  height: 5rem;
}

footer a {
  color: white;
  text-decoration: none;
}
